div {
    width: 100px;
    height: 100px;
    background-image: url(../mainimg/diannao.svg);
}

.red {
    color: red;
}


erweima.addEventListener("mouseover",function(){
    this.className = "erweima erweimaColor";
});

erweima.addEventListener("mouseout",function(){
    this.className = "erweima";
});

let num = 0 ;
erweima.addEventListener("click",function(){
    num = 1;
});